<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends 'base.html'%}


{% block content %}

<body>
    <div class="container text-lg-center mt-lg-5 ">
        <div class="row">
            <form action="" method="post">
                {%csrf_token%}

                <div class="mb-3">
                    <label for="username" class="form-label"> username : {{form.username}}</label>

                </div><br>
                <div class="mb-3">
                    <label for="password" class="form-label">Password : {{form.password}}</label>
                </div><br>

                <button type="submit" class="btn btn-primary ">Login</button>
        </div>
        </form>
        </form>
    </div>
    {%endblock%}
</body>

</html>