<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta  name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
{%extends 'base.html'%}

{%block content%}

<body>
   <div class="main">
        <div class="form-group border border-primary border-5 rounded-4 " style="width: 350px;height: 400px;display: flex;justify-content: center;align-items: center;">
            <form action="{% url 'sign-up'%}" method="post">
                <h2 class="mb-5">Register</h2>

                {%csrf_token%}
                {%for field in form%}
                {{field.label}}
                {{field}}
                {%endfor%}
               <br> <button class="btn btn-primary mb-2" type="submit" style="margin-left: 35%;">signup</button>

            </form>
        </div>

    </div>
    <style>
        .main{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
           
        }
        .form-control {
            width: 300px;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-bottom: 10px;
        }


    </style>






    {%endblock%}
    

</body>

</html>